<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mySql_host" value=""></add>
    <add key="mySql_username" value=""></add>
    <add key="mySql_password" value=""></add>
    <add key="mySql_port" value=""></add>
    <add key="mySql_database" value=""></add>
  </appSettings>
</configuration>